:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-outra: #dc143c;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "saira extra condensed", sans-serif;
  letter-spacing: 1px;
  color: var(--text-color);
  text-decoration: none;
}
body {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "main aside"
    "footer footer";
  grid-template-rows: 500px auto;
  grid-template-columns: 400px 1fr;
}

.conteudo {
  width: auto;
  margin: 15% 10% 0 20%;
}
.conhecimento {
  margin: 5% 10% 0 20%;
}
.lista {
  margin: 2%;
}
.conteudo h2 {
  font-size: 40px;
}
.conteudo h3 {
  font-size: 26px;
}
.perfil span,
.conteudo h3 {
  color: var(--bg-outra);
}
.perfil {
  background-color: var(--body-bg-color);
  position: absolute;
  top: 10%;
  left: 15%;
  width: 25%;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2), -0.4em 0 0.9em black;
  gap: 10px;
}
.perfil img {
  width: 50%;
  border-radius: 0 15% 0 15%;
  border: 3px outset #e6e6fa;
}
.divPerfil {
  margin-top: 10px;
  width: 400px;
  display: flex;
  justify-content: center;
}
.perfil h2,
.perfil a,
.perfil span {
  font-weight: bold;
}
.perfil div a {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weigth: 700;
  font-size: 20px;
  margin: 10px;
  width: 130px;
  height: 50px;
  border-radius: 30px;
  background-color: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.perfil div a:hover {
  box-shadow: 1px 1px 1px 2px #b01030;
}

.perfilBorda {
  border: 2px solid #837e9f;
  width: 130px;
  border-radius: 5px;
}
main {
  grid-area: main;
  background: var(--bg-outra);
}
aside {
  grid-area: aside;
  background-color: var(--bg-cards);
}

footer {
  grid-area: footer;
  text-align: center;
  background-color: var(--body-bg-color);
}
.divFooter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.divFooter img {
  width: 30px;
}
.divFooter a,
.divFooterImgx {
  font-size: 20px;
}
.divFooterImg {
  width: 500px;
  display: flex;
  align-items: center;
  justify-items: center;
}
.divFooterImg img {
  width: 50px;
  margin: 20px;
}
